@font-face {
    font-family: "element-icons";
    src: url('../font/element-icons.ttf');
    src: url('../font/element-icons.woff');
}

* {
    box-sizing: border-box;
    vertical-align: middle;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
}

.el-card {
    margin-bottom: 20px;
}

.el-card__header {
    padding: 10px 20px;
}

.el-page-header {
    margin-bottom: 25px;
}

h3 {
    font-size: 18px;
    color: #303133;
    margin-bottom: 25px;
}